*{margin:0; padding:0;}
#container{
    width:1200px;
    margin:0 auto;
}
#form{
    width:600px;
    margin:0 auto;
    margin-top:40px;
}
#check-btn{
    width:77px;
    height:30px;
    background-color: rgb(210,210,210);
    color:black;
    text-align: center;
    line-height: 30px;
    margin-left:520px;
    margin-top:10px;
    cursor: pointer;

}
#terms-use{
    width:600px;
    height:200px;
    background-color: rgb(210,210,210);
    color:black;
    font-weight: bold;
    overflow-y: auto;
    
}
#submit{
    display: block;
    width:98px;
    height:40px;
    background: black;
    color:white;
    margin:30px auto;

}