{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link rel="stylesheet" href="{% static 'css/detail_recipe.css' %}">


<div id="con">
    <div id="info">
        <div id="rec-img-section">
            <img src="/media/{{recipe.recipe_img_file_path}}" width="200" height="200">
        </div>
        <div id="rec-info">
            <h4>{{recipe.recipe_name}}</h4>
            <hr>
            <div style="color:gray; font-size: 17px;">
                <i class="glyphicon glyphicon-thumbs-up"></i>
                좋아요
                <span style="margin-left: 527px;">{{recipe.recommendation}}</span>
                
            </div>
            <hr>
            <div style="color:gray; font-size: 17px;">
                <span>난이도</span>
                <span style="margin-left: 450px;">
                    <img style="width:139px;"src="/static/img/star{{recipe.rank}}.png">
                </span>
            </div>
            <hr>
            <select class="form-control" id="food-select">    
                <option>재료선택</option>
                {% for realation in realations %}
                    <option price="{{realation.foodstuff.price}}">{{realation.foodstuff.foodstuff_name}}</option>
                {% endfor %}
                
            </select>
            <ul id="food-list">
                
            </ul>
            <div  class="text-right" id="food-meta" style="display:none;">
                <span style="margin-right: 10px;;">총금액</span>
                <span style="color:rgb(230,126,34);"><b id="total">0</b>원</span>
                <div id="buy-btn">재료구매</div>
            </div>
        </div>
    </div>
    {% if recipe.video_file_path%}
    <div style="width:300px; margin:0 auto; margin-top:100px;">
        <video controls width="300" class="text-center" >

            <source src="/media/{{recipe.video_file_path}}" type="video/mp4">
            <source src="/media/{{recipe.video_file_path}}" type="video/ogg"> 
            <source src="/media/{{recipe.video_file_path}}" type="video/webm">        
        
            <!-- <source src="/media/{{recipe.video_file_path}}"
                    type="video/mp4"> -->
        </video>
    </div>
    {% endif %}
    <h3 style="margin-top:90px;">재료</h3>
    <ol style="margin-left: 21px;">
        {% for realation in realations %}
            <li><b>{{realation.foodstuff.foodstuff_name}}</b></li>
        {% endfor %}
    </ol>
    <h3 style="margin-top:50px;">열랑 & 영양정보</h3>
    <div id="nutrition" class="text-center"></div>
    <h3 style="margin-top:50px;">레시피</h3>
    <div id="recipe" class="text-center"></div>
    {% if storage %}
    <h3 style="margin-top:50px;">식재료 보관 방법</h3>
    {% endif %}
    {% for s in storage %}
        <div class="text-center">
            <img width="200" height="200" src="/media/{{s.fss_img_file_path}}">
            <div class="fssContent" url='/{{s.storage_file_path}}'></div>
        </div>
    {% endfor %}
</div>

<script src="{% static 'js/main.js' %}"></script>    
<script src="{% static 'js/detail_recipe.js'%}"></script>
<script>

init();
function init(){
    $("#nutrition").load("/{{recipe.nutrition_document_file_path}}")
    $("#recipe").load("/{{recipe.document_file_path}}")
    for(var tag of $(".fssContent")){
        var url = $(tag).attr('url');
        $(tag).load(url);
    }
}
</script>
{% endblock%}