<!DOCTYPE html>
{% load static%}
{% if msg %}
    <script>alert("{{msg}}");</script>
{% endif %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <!--부트스트랩-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!--header css-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!--제이쿼리-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <style>
        #con{
            width:1200px;
            margin:0 auto;
        }
        #info{
            width:100%;
            
        }
        #rec-img-section{
            width:46%;
            
            float: left;
        }
        #rec-info{
            width:54%;
            
            margin-left: 46%;
        }
        #food-list{
            list-style: none;
            width: 100%;
            background: #e0e0e0;
            
        }
    </style>
    
</head>
<body>
    <!--헤더-->
    <header>
        <div style="float: left;">
            <img src="{% static 'img/icon.png' %}">
        </div>
        <div id="header-center-section">
            <a href="">남은 재료 보관방법</a>
            <a href="">오늘의 인기레시피</a>
            <a href="">내가 가진 재료로 만들자</a>
        </div>
        <diV id="header-right-section">
            <i class="glyphicon glyphicon-search" style="color:rgb(181,181,181); cursor: pointer; font-size: 16px;"></i>
            {% if request.session.id %}
                <a href="{% url 'logout' %}" >로그아웃</a>
            {% else %}    
                <a href="{% url 'login' %}" >로그인</a>
            {% endif %}
            <a href="">장바구니</a>
        </diV>
    </header>
    
    <div id="con">
        <div id="info">
            <div id="rec-img-section">
                <img src="" width="200" height="200">
            </div>
            <div id="rec-info">
                <h4>간장계란밥</h4>
                <hr>
                <div style="color:gray; font-size: 17px;">
                    <i class="glyphicon glyphicon-thumbs-up"></i>
                    좋아요
                    <span style="margin-left: 527px;">10</span>
                    
                </div>
                <hr>
                <div style="color:gray; font-size: 17px;">
                    <span>난이도</span>
                    <span style="margin-left: 450px;">
                        <img style="width:139px;"src="{% static 'img/star1.png'%}">
                    </span>
                </div>
                <hr>
                <select class="form-control" id="food-select">    
                    <option>간장</option>
                    <option>간장1</option>
                    <option>간장2</option>
                    <option>간장3</option>
                </select>
                <ul id="food-list">
                    
                </ul>
            </div>
        </div>
    </div>
<script src="{% static 'js/main.js' %}"></script>    
<script>
    $("#food-select").change(function() {
        var tag = "<li>"+$(this).val()+"</li>";
        $("#food-list").append(tag);
    });


</script>
</body>

</html>