{% extends 'base2.html' %}
{% load static %}
{% block title %} 로그인 {% endblock %}
{% block content %}
{% if messages %}
    {% for msg in messages %} 
        <script>alert("{{msg}}");</script>
    {% endfor %}   
	
{% endif %}
 <!--login css-->
 <link rel="stylesheet" href="{% static 'css/login.css' %}">
    
    <div id="container">

        <p class="title">
            <span id="vertical-bar"></span>
            로그인
        </p>
        <form id="form" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <span>아이디</span>
            <input type="text" class="form-control" name="user_id" required><br>
            <span>비밀번호</span>
            <input type="password" class="form-control" name="user_pw" required>
            
            <input type="submit" id="login-btn" value="로그인" style="width:138px;">
            <br>
            
        </form>
        <a href="{% url 'register' %}">회원가입</a>
        <a href="">아이디찾기/비밀번호찾기</a>
    </div>
{% endblock %}