<!DOCTYPE html>
{% if msg %}
    <script>alert("{{msg}}");</script>
{% endif %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <!--부트스트랩-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!--header css-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!--제이쿼리-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    
    
</head>
<body>
    <!--헤더-->
    <header>
        <div style="float: left;">
            <img src="{% static 'img/icon.png' %}">
        </div>
        <div id="header-center-section">
            <a href="">남은 재료 보관방법</a>
            <a href="">오늘의 인기레시피</a>
            <a href="">내가 가진 재료로 만들자</a>
        </div>
        <diV id="header-right-section">
            <i class="glyphicon glyphicon-search" style="color:rgb(181,181,181); cursor: pointer; font-size: 16px;"></i>
            {% if request.session.id %}
                <a href="{% url 'logout' %}" >로그아웃</a>
            {% else %}    
                <a href="{% url 'login' %}" >로그인</a>
            {% endif %}
            <a href="">장바구니</a>
        </diV>
    </header>
    <!--네비게이션-->
    <nav id="nav">
        <i class="glyphicon glyphicon-menu-left lr-icon" style="float: left; margin-left: 76px;" id="left-icon"></i>
        <div id="nav-item-box">
            <div id="nav-item-border">
                
                <!--디저트-->
                <a href="" style="margin:0px; background-image: url('../static/img/nav_1.png');">
                    <!-- <img src="{% static 'img/nav_1.png' %}"> -->
                </a>
                <!--밑반찬-->
                <a href="" style="background-image: url('../static/img/nav_2.png');"></a>
                <!--찌개-->
                <a href="" style="background-image: url('../static/img/nav_3.png');"></a>
                <!--죽-->
                <a href="" style="background-image: url('../static/img/nav_4.png');"></a>
                <!--구이-->
                <a href="" style="background-image: url('../static/img/nav_5.png');"></a>
                <!--찜-->
                <a href="" style="background-image: url('../static/img/nav_6.png');"></a>
                <!--볶음-->
                <a href="" style="background-image: url('../static/img/nav_7.png');"></a>
                <!--튀김-->
                <a href="" style="background-image: url('../static/img/nav_8.png');"></a>
            </div>    
            
        </div>
        <i class="glyphicon glyphicon-menu-right lr-icon" style="float: right; margin-right: 76px;;" id="right-icon"></i>
    </nav>
    <!--content-->
    <ul id="main-content">
        {% for recipe in recipes %}
        <li >
            <div class="img-section" onclick="location.href='/detail_recipe/{{recipe.id}}/'">
                <img src="/media/{{recipe.recipe_img_file_path}}" width="198" height="158">
                <p class="opacity-text">{{recipe.recipe_kind}}</p>
            </div>
            <div class="res-info">
                <i class="glyphicon glyphicon-user"></i>
                <span>관리자</span>
                <div class="text-right" style="width:116px; float: right;">
                    <i class="glyphicon glyphicon-thumbs-up"></i>
                    <span>{{recipe.recommendation}}</span>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
<script src="{% static 'js/main.js' %}"></script>    
</body>
</html>