{% extends 'base.html' %}
{% load static %}
{% block title %}메인페이지{% endblock %}
{% block content %}
{% if messages %}
    {% for msg in messages %} 
        <script>alert("{{msg}}");</script>
    {% endfor %}   
	
{% endif %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% include 'main_nav.html' %}
<!--content-->
<ul id="main-content">
    {% for recipe in recipes %}
    <li >
        <div class="img-section" onclick="location.href='/detail_recipe/{{recipe.id}}/'">
            <img src="/media/{{recipe.recipe_img_file_path}}" width="198" height="158">
            <p class="opacity-text">{{recipe.recipe_kind}}</p>
        </div>
        <div class="res-info">
            <i class="glyphicon glyphicon-user"></i>
            <span>관리자</span>
            <div class="text-right" style="width:116px; float: right;">
                <i class="glyphicon glyphicon-thumbs-up"></i>
                <span>{{recipe.recommendation}}</span>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
<script src="{% static 'js/main.js' %}"></script>    
{% endblock %}