<!--네비게이션-->
<nav id="nav">
    <i class="glyphicon glyphicon-menu-left lr-icon" style="float: left; margin-left: 76px;" id="left-icon"></i>
    <div id="nav-item-box">
        <div id="nav-item-border">
            
            <!--디저트-->
            <a href="" style="margin:0px; background-image: url('../static/img/nav_1.png');"></a>
            <!--밑반찬-->
            <a href="" style="background-image: url('../static/img/nav_2.png');"></a>
            <!--찌개-->
            <a href="" style="background-image: url('../static/img/nav_3.png');"></a>
            <!--죽-->
            <a href="" style="background-image: url('../static/img/nav_4.png');"></a>
            <!--구이-->
            <a href="" style="background-image: url('../static/img/nav_5.png');"></a>
            <!--찜-->
            <a href="" style="background-image: url('../static/img/nav_6.png');"></a>
            <!--볶음-->
            <a href="" style="background-image: url('../static/img/nav_7.png');"></a>
            <!--튀김-->
            <a href="" style="background-image: url('../static/img/nav_8.png');"></a>
        </div>    
        
    </div>
    <i class="glyphicon glyphicon-menu-right lr-icon" style="float: right; margin-right: 76px;;" id="right-icon"></i>
</nav>