{% extends 'manage.html' %}
{% block content%}
<!--내용-->
<div id="content" class="col-md-8">
    <h2 class="text-center">레시피 등록</h2>
    <form class="recipe_form">
        <h4>제목</h4>
        <input type="text" id="recipe_name" class="form-control">
        <h4>열량 & 영양정보</h4>
        <div class="summernote"></div>
        <h4>레시피</h4>
        <div class="upload-btn">동영상업로드</div>
        <div class="summernote"></div>
        <h4>재료</h4>
        <input type="text" id="foodStuff" class="form-control" placeholder="재료명1,재료명2,재료명3">
        <input type="submit" id="submit" value="작성하기">
    </form>
</div>
        <!-- <div id="summernote">Hello Summernote</div> -->
<script src="{% static 'js/manage.js' %}"></script>
<script src="{% static 'js/write.js' %}"></script>        
{% endblock %}
    
    