{% extends 'manage.html' %}
{% block content%}
{% load static %}
<!--content-->

<ul id="manage-content" class="col-md-10">
    {% for recipe in recipes %}
    <li>
        <div class="img-section">
            <img src="/media/{{recipe.recipe_img_file_path}}" width="198" height="158">
            <p class="opacity-text">디저트</p>
        </div>
        <div class="text-center">
            <button class="btn btn-info" onclick="location='/manager/modify/recipe?id={{recipe.pk}}'">수정</button>
            <button class="btn btn-danger">삭제</button>    
        </div>
        
    </li>
    {% endfor %}
    
</ul>
<script>
    $("#recipe").attr("on-off","on");
    $("#manage-recipe").css({
        "background":"white",
        "color":"black"
    });
</script>  
<script src="{% static 'js/manage.js' %}"></script>   

{% endblock %}
    
    