{% extends 'manage.html' %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/register.css' %}">
<div id="content" class="col-md-8">
    <h2 class="text-center">관리자 등록</h2>
    <form id="form" action="{% url 'manage_register' %}" method="POST">
        {% csrf_token %}
        <h4>아이디</h4>
        <input id="user-id" type="text" name="user_id" class="form-control" required>
        <p id="id_error_text"></p>
        <div id="check-btn">중복확인</div>
        <h4>비밀번호</h4>
        <input type="password" id="pwd" name="user_pwd" class="form-control" required>
        <h4>비밀번호 확인</h4>
        <input type="password" id="pwd2" class="form-control" required>
        <p id="pw-error-text" style="display: none; color:red;">비밀번호가 일치하지 않습니다.</p>
        <h4>이메일</h4>
        <input type="email" class="form-control" id="email" name="user_email" required>
        <h4>전화번호</h4>
        <!-- <div class="input-group">
            아임포트 API를 이용해서 휴대폰 인증을 구현할 계획이였으나
            사업자 등록을 한 후 신청을 해야 되서 이 부분은 추후 구현하는 것으로 한다.
            <input type="text" class="form-control">
            <div class="input-group-btn">
                <button class="btn btn-default">
                    인증
                </button>
            </div>
        </div> -->
        <input type="text" class="form-control" name="user_phone" placeholder="전화번호" required>
        <h4>이름</h4>
        <input type="text" class="form-control" name="user_name" required>
        
        <input type="submit" value="회원가입" id="submit">
    </form>
    <script>
         $("#manager_register").attr("on-off","on");
        $("#write-manager").css({
            "background":"white",
            "color":"black"
        });
        //아이디 체크
        $("#check-btn").click(function(){
            if($("#user-id").val() != ''){
              $.ajax({
                  type : "POST",
                  url : "{% url 'idCheck' %}",
                  data : {
                      'csrfmiddlewaretoken': '{{ csrf_token }}',
                      'id_check' : $("#user-id").val(),
                  }, 
                  success : function(response)
                  {
                    
                    if(!response['msg'])
                      $("#id_error_text").text("아이디 사용 가능합니다.").css("color","#0081ff");
                    else 
                      $("#id_error_text").text("아이디 사용 불가능합니다.").css("color","red");

                    result = response['msg']
                    
                  },
                });
           }
        });
        $("#pwd2").focusout(function(){
            if($("#pwd").val() == $("pwd2").val()){
                $("#pw-error-text").css("display","block");
                
            }else{
                $("#pw-error-text").css("display","none");
                
            }
        });
        
    </script>   
    <script src="{% static 'js/manage.js' %}"></script>
    <script src="{% static 'js/write.js' %}"></script>
</div>
{% endblock %}