header{
    width:1200px;
    height:78px;
    background-color:rgb(39,37,37);;
    margin:0 auto;
    
}
#header-center-section{
    width:899px;
    /*border: 1px solid red;;*/
    text-align: center;
    line-height: 78px;
    float: left;
}
#header-center-section a{
    width:197px;
}
header a{color:rgb(181,181,181); font-weight: bold; display: inline-block;}
header a:link { color:rgb(181,181,181);  text-decoration: none;}
header a:hover { color:rgb(181,181,181); text-decoration: none;}
#header-right-section{
    line-height: 78px;
}
#header-right-section a,
#header-right-section i{
    width: 56px;
}